Repository tvo25/graditude: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint & prettier

flake8:
  name: flake8
  entry: flake8
  language: python
  args:
  - --config=backend/setup.cfg

eslint & prettier:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && yarn lint'

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Delete root settings.json - Causes conflict with venv for backend
  .vscode/settings.json
Due: eslint & prettier

Add jest-environment-jsdom-sixteen package
  frontend/package.json
  frontend/yarn.lock
Due: eslint & prettier

Remove unused backend settings.json
  backend/.vscode/settings.json
Due: eslint & prettier

Fix flake8 linting errors - Remove request_factory()
  backend/.coveragerc
  backend/graditude/conftest.py
  backend/graditude/jobs/tests/test_tasks.py
  backend/graditude/jobs/tests/test_urls.py
  backend/graditude/users/models.py
  backend/graditude/users/tests/test_models.py
  backend/graditude/users/tests/test_tasks.py
  backend/graditude/users/tests/test_urls.py
  backend/graditude/users/tests/test_views.py
Due: flake8, eslint & prettier

Remove unused default_views
  backend/config/urls.py
Due: flake8

Add django-stubs
  backend/requirements/local.txt
Due: eslint & prettier

Add REDIS_URL to backend.yml
  .github/workflows/backend.yml
Due: none

Remove coverageThreshold temporarily
  frontend/package.json
Due: eslint & prettier

Fix mypy issues and remove unused App.test.js
  backend/.vscode/settings.json
  backend/config/settings/test.py
  backend/graditude/conftest.py
  backend/graditude/jobs/tasks.py
  backend/graditude/jobs/tests/test_views.py
  backend/graditude/users/admin.py
  backend/graditude/users/tests/test_views.py
  backend/merge_production_dotenvs_in_dotenv.py
  backend/wait_for_postgres.py
  frontend/src/App.test.js
Due: flake8, eslint & prettier

Update pytz from 2020.4 to 2020.5
  backend/requirements/base.txt
Due: eslint & prettier

Update pytz from 2020.4 to 2021.1
  backend/requirements/base.txt
Due: eslint & prettier

Update postgres Docker tag to v12.6
  backend/docker/production/postgres/Dockerfile
Due: none

Update python-slugify from 4.0.1 to 5.0.0
  backend/requirements/base.txt
Due: eslint & prettier

Update python-slugify from 4.0.1 to 5.0.2
  backend/requirements/base.txt
Due: eslint & prettier

Update python-slugify from 4.0.1 to 6.1.1
  backend/requirements/base.txt
Due: eslint & prettier

Update dependency @types/jest to v26.0.24
  frontend/package.json
  frontend/yarn.lock
Due: eslint & prettier

Update python-slugify from 4.0.1 to 6.1.2
  backend/requirements/base.txt
Due: eslint & prettier

Update pillow from 8.0.1 to 9.3.0
  backend/requirements/base.txt
Due: eslint & prettier

Update argon2-cffi from 20.1.0 to 21.3.0
  backend/requirements/base.txt
Due: eslint & prettier

Update pytz from 2020.4 to 2022.6
  backend/requirements/base.txt
Due: eslint & prettier

Update redis from 3.5.3 to 4.3.4
  backend/requirements/base.txt
Due: eslint & prettier

Update django-celery-beat from 2.1.0 to 2.4.0
  backend/requirements/base.txt
Due: eslint & prettier

Path conditions:
  flake8: any of: \.py$, but not: docs|node_modules|migrations|.git|.tox
  eslint & prettier: any of: .+(js|jsx|ts|tsx|css|sass|less), but not: docs|node_modules|migrations|.git|.tox
